/* Estilos generales */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2f33; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
}

header {
    background-color: #23272a; /* Fondo del header oscuro */
    width: 100%;
    text-align: center;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.invite-button {
    background-color: #7289da; /* Botón azul estilo Discord */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.invite-button:hover {
    background-color: #677bc4; /* Hover más claro para el botón */
}

main {
    margin: 20px;
    text-align: center;
}

h1 {
    color: #ffffff; /* Texto blanco */
}

section {
    margin-top: 30px;
}

section h2 {
    color: #7289da; /* Títulos en color azul estilo Discord */
}

a {
    color: #7289da;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #23272a; /* Fondo del footer oscuro */
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}

/* TABLE CSS */



.input-inset{
    font-size: 16px;
    line-height: 1;
    background: #FFFFFF;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>");
    background-repeat: no-repeat;
    background-position: 10px 5px;
    background-size: 15px 15px;
    border: 1px solid #C5CBD5;
    box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.20);
    border-radius: 8px;
    width: 60px;
    padding: .2em 1em .2em 2em;
    } 
    
    .input-inset::placeholder{
      color: #838D99;
    }
    
    .input-inset:focus {
      outline: none;
      border: 1px solid #84A2FA;
    }



form label {
  cursor: pointer;
}

.table-searchable .is-hidden {
  display: none;
}

.table-searchable td[data-searchable="false"] {
}

.table {
    margin: auto;
}

th, td {
    padding: 10px;
}

th {
    color: #7289da;
}

td > button {
    background-color: transparent;
    color: #7289da;
    width: 26px;
    height: 23px;
    border: 0;
    font-size: 20px;
    transition: color 0.3s ease;
}

td > button.copied {
    color: #43b581; /* Cambiar el color a verde cuando se copie */
}

td > button i.fa-check {
    font-family: 'Font Awesome 5 Free'; /* Font Awesome */
    font-weight: 900;
}


/*   */

.info {
    margin-top: 50px;
}