/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2f33; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
    line-height: 1.6;
    min-height: 100vh; 
}

header {
    background-color: #23272a;
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.invite-button {
    background-color: #7289da;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.invite-button:hover {
    background-color: #677bc4;
    transform: translateY(-2px);
}

h1 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

main {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

h2 {
    color: #7289da;
    font-size: 2rem;
    margin-bottom: 20px;
}


.container {
    background-color: #23272a;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #2f3136;
    border-radius: 10px;
    overflow: hidden;
}

table th, table td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #7289da;
    color: white;
    text-transform: uppercase;
}

td {
    background-color: #3a3d42;
    color: #ffffff;
    
    border-bottom: 1px solid #23272a;
}

td button {
    background: transparent;
    color: #7289da;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

td button:hover {
    color: #43b581;
}


.table-searchable .is-hidden {
    display: none;
  }

/* Search bar styling */
.input-inset {
    font-size: 16px;
    line-height: 1.5;
    background-color: transparent;
    border: 1px solid #84a2fa;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
    width: 279px;
    margin-right: 20px;
}

.input-inset::placeholder {
    color: #7289da;

}

.input-inset:focus {
    outline: none;
    border-color: #7289da;
    background-color: #3a3d42;
}

/* CREATE TEAMS */
.teams-output {
    margin-top: 20px;
    color: #ffffff;
}
.teams-output p {
    margin: 5px 0;
}
 h3 {
    color: #84a2fa;
 }
 .card {
    align-items: center;
    align-content: center;
    text-align: center;
 }

 /* FOOTER */
 
/* footer {
    background-color: #23272a;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    bottom: 0;
}

footer p {
    margin: 0;
    color: white;
    font-size: 0.9rem;
} */


footer {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background:#23272a;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    }

    ul{
      list-style:none;    
    } 

    .space{
      margin-top:10px;
    }
    
  @media screen and (max-width:1200px){
    footer{ 
         display:flex;
         flex-direction:column !important;
      }
    } 